section{
    padding: 75px 50px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    background-color: beige;
}
header .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .menuicon{
    font-size: 30px;
    padding: 10px;
    display: none;
    /* opacity: 0; */
    /* visibility: hidden; */
}
header .menus ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
header ul li a{
    text-decoration: none;
    font-size: 18px;
    color: blue;
}
.contactpart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactpart form{
    padding: 25px 30px;
    background-color: beige;
    border: 1px solid red;
}
.contactpart .inputs{
    padding: 10px;
    margin: 10px 5px;
}
.contactpart .inputs label{
    margin: 5px;
}
.contactpart .inputs input{
    padding: 10px 5px;
    margin: 5px;
    width: 100%;
}
.contactpart .btn{
    text-align: center;
}
.contactpart form button{
    text-align: center;
    padding: 10px 35px;
    margin: 10px 0;
}

@media(min-width:320px) and (max-width:480px){
    header{
        display: block;
        position: relative;
    }
    header .menuicon{
        display: block;
    }
    header .menus ul li{
        display: block;
    }
    header .menus{
        background-color: rgb(255, 255, 110);
        position: absolute;
       width: 100%;
       left: -99%;
       transition: all 0.5s ease-in-out;
    }
    header .menus.active{
        left: 0;
    }
    section{
        padding: 75px 0;
    }
}